.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 41px 15px 39px;
  gap: 35px;

  @media (min-width: $tablet-width) {
    padding: 61px 45px 34px;
    gap: 36px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 45px;
    align-items: start;
    padding: 120px 103px 125px;
  }
}

.about__title {
  margin: 0 0 12px;

  @media (min-width: $tablet-width) {
    margin: 0 0 19px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 26px;
  }
}

.about__media {
  display: flex;
  flex-direction: column;
  margin: 0 -15px;
  gap: 36px;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    margin: 0;
    padding-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 115px;
    padding-left: 100px;
  }
}

.about__image img {
  width: 320px;
  height: 280px;

  @media (min-width: $tablet-width) {
    width: 678px;
    height: 345px;
  }

  @media (min-width: $desktop-width) {
    width: 660px;
    height: 400px;
  }
}

.about__video {
  @media (min-width: $tablet-width) {
    bottom: 0;
    left: 204px;
  }

  @media (min-width: $desktop-width) {
    left: 0;
  }
}
