.about-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 170px;
  background:
    linear-gradient(rgba(20, 54, 122, 0.5), rgba(20, 54, 122, 0.5)),
    url("../../img/about/video/video-mobile@1x.jpg"),
    linear-gradient(#7a8cb1, #7a8cb1);

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (resolution >= 2dppx) {
    background:
      linear-gradient(rgba(20, 54, 122, 0.5), rgba(20, 54, 122, 0.5)),
      url("../../img/about/video/video-mobile@2x.jpg"),
      linear-gradient(#7a8cb1, #7a8cb1);

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 270px;
    height: 170px;
    background:
      linear-gradient(rgba(20, 54, 122, 0.5), rgba(20, 54, 122, 0.5)),
      url("../../img/about/video/video-tablet@1x.jpg"),
      linear-gradient(#7a8cb1, #7a8cb1);

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @media (min-width: $tablet-width) and (resolution >= 2dppx) {
    background:
      linear-gradient(rgba(20, 54, 122, 0.5), rgba(20, 54, 122, 0.5)),
      url("../../img/about/video/video-tablet@2x.jpg"),
      linear-gradient(#7a8cb1, #7a8cb1);

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    height: 230px;
    background:
      linear-gradient(rgba(20, 54, 122, 0.5), rgba(20, 54, 122, 0.5)),
      url("../../img/about/video/video-desktop@1x.jpg"),
      linear-gradient(#7a8cb1, #7a8cb1);

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @media (min-width: $desktop-width) and (resolution >= 2dppx) {
    background:
      linear-gradient(rgba(20, 54, 122, 0.5), rgba(20, 54, 122, 0.5)),
      url("../../img/about/video/video-desktop@2x.jpg"),
      linear-gradient(#7a8cb1, #7a8cb1);

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.about-video__frame {
  display: none;
}

.about-video__wrapper {
  width: 320px;
  height: 170px;

  @media (min-width: $tablet-width) {
    width: 270px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    height: 230px;
  }
}

.about-video__control {
  position: absolute;
  width: 52px;
  height: 52px;
  padding: 0;
  background: linear-gradient(to right, #ed0233, #003eb7);
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    content: "";
    position: relative;
    right: 10px;
    bottom: 10px;
    display: block;
    width: 72px;
    height: 72px;
    background-color: transparent;
    border: 2px solid rgba(237, 2, 51, 0.2);
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: relative;
    bottom: 51px;
    left: 23px;
    display: block;
    width: 0;
    height: 0;
    background-color: transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid $white;
    border-left: 5px solid transparent;
    transform: rotate(90deg);
  }

  &:hover {
    background: linear-gradient($white, $white);

    &::before {
      border-color: rgba(16, 38, 84, 0.6);
    }

    &::after {
      border-bottom-color: rgba(16, 38, 84, 0.6);
    }
  }

  &:focus {
    background: linear-gradient(#c8c9cc, #c8c9cc);

    &::before {
      border-color: $text-primary;
    }

    &::after {
      border-bottom-color: $text-primary;
    }
  }

  &:active {
    width: 38px;
    height: 38px;
    background: linear-gradient($white, $white);

    &::before {
      right: 17px;
      bottom: 17px;
    }

    &::after {
      bottom: 58px;
      left: 16px;
      border-bottom-color: $text-primary;
    }

    @media (min-width: $desktop-width) {
      width: 58px;
      height: 58px;

      &::before {
        right: 21px;
        bottom: 21px;
      }

      &::after {
        bottom: 78px;
        left: 24px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 72px;
    height: 72px;

    &::before {
      right: 14px;
      bottom: 14px;
      width: 100px;
      height: 100px;
    }

    &::after {
      bottom: 71px;
      left: 31px;
      border-right: 8px solid transparent;
      border-bottom: 13px solid $white;
      border-left: 8px solid transparent;
    }
  }
}

.about-video__control.disabled,
.about-video__control:disabled {
  width: 52px;
  height: 52px;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
  cursor: default;

  &::before {
    right: 10px;
    bottom: 10px;
    border-color: rgba(16, 38, 84, 0.4);
  }

  &::after {
    bottom: 51px;
    left: 23px;
    border-bottom-color: rgba(16, 38, 84, 0.4);
  }

  @media (min-width: $desktop-width) {
    width: 72px;
    height: 72px;

    &::before {
      right: 14px;
      bottom: 14px;
      border-color: rgba(16, 38, 84, 0.4);
    }

    &::after {
      bottom: 71px;
      left: 31px;
      border-bottom-color: rgba(16, 38, 84, 0.4);
    }
  }
}
