.faq-item {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-areas:
    "label input"
    "text  .";
  grid-template-columns: 1fr auto;
  padding: 20px 0;
  border-bottom: 1px solid #74819c;

  @media (min-width: $tablet-width) {
    padding: 23px 0;
  }

  @media (min-width: $tablet-width) {
    padding: 23px 0 22px;
  }
}

.faq-item__label-wrapper {
  grid-area: label;
}

.faq-item__label-wrapper label {
  display: block;
  padding-right: 22px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 138px;
    font-size: 22px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 160px;
    font-size: 24px;
    line-height: 24px;
  }
}

.faq-item__input-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: input;
  width: 30px;
  height: 30px;
  border: 1px solid #1c3374;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 14px;
    height: 1px;
    background-color: #1c3374;
    transform: translate(-50%, -50%)  rotate(90deg);
    transform-origin: center;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 14px;
    height: 1px;
    background-color: #1c3374;
    transform: translate(-50%, -50%);
    transform-origin: center;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;

    &::before,
    &::after {
      width: 20px;
    }
  }

  &:hover {
    background-color: #1c3374;

    &::after,
    &::before {
      background-color: $white;
    }
  }

  &:focus {
    background-color: #74819c;
    outline: none;

    &::after,
    &::before {
      background-color: $white;
    }
  }
}

.faq-item__input-wrapper input {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.faq-item__text-wrapper {
  grid-area: text;
  height: 0;
  padding-right: 20px;
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
  transition: 1s;


  @media (min-width: $tablet-width) {
    padding-right: 78px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 160px;
  }
}

.faq-item__text-wrapper p {
  margin: 20px 0 0;

  @media (min-width: $tablet-width) {
    margin: 10px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 23px 0 0;
  }
}

.accordion-item--active .faq-item__input-wrapper {
  background-color: #1c3374;

  &::before {
    display: none;
  }

  &::after {
    background-color: $white;
  }
}

.faq-item.disabled {
  pointer-events: none;
}

.faq-item.disabled .faq-item__input-wrapper {
  opacity: 0.3;
}

