.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -9px;
  column-gap: 20px;
  row-gap: 12px;

  @media (min-width: $tablet-width) {
    margin-right: -9px;
    column-gap: 15px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 82px;
  }
}

.navigation-list__link {
  display: block;
  padding: 2px 7px 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $white;
  text-decoration: none;
  border: 1px solid transparent;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }

  &:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
  }

  &:focus {
    text-decoration: none;
    border: 1px solid $white;
  }

  &:active {
    text-decoration: none;
    border: 1px solid transparent;
  }
}

.navigation-list__link.disabled {
  opacity: 0.4;
  pointer-events: none;
}
