.prices-list {
  display: none;
}

.prices-list.tab-list--active {
  display: grid;
  gap: 35px;

  @media (min-width: $tablet-width) {
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto auto auto;
  }
}
