.prices-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
}

.prices-nav__name {
  display: block;
  padding: 1px 0 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #8490a8;
  cursor: pointer;

  &::after {
    content: "";
    position: relative;
    bottom: -6px;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: transparent;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 1px 0 5px;
    font-size: 20px;
    line-height: 20px;

    &::after {
      bottom: -7px;
    }
  }
}

.prices-nav__item {
  &:hover .prices-nav__name {
    color: rgba(16, 38, 84, 0.7);

    &::after {
      background-color: #787878;
    }
  }

  &:focus {
    outline: none;
  }

  &:focus .prices-nav__name {
    color: $text-primary;
    outline: none;

    &::after {
      background-color: $text-primary;
    }
  }
}

.prices-nav__input {
  display: none;
}

.prices-nav__input:checked + .prices-nav__name {
  position: relative;
  color: $text-primary;

  &::after {
    background-color: #d10a42;
  }
}

.prices-nav__input:disabled + .prices-nav__name,
.prices-nav__input.disabled + .prices-nav__name {
  color: rgba(16, 38, 84, 0.3);
  cursor: default;

  &::after {
    background-color: rgba(16, 38, 84, 0.3);
  }
}
