.promo-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px 0;
  gap: 10px;

  @media (min-width: $tablet-width) {
    padding: 31px 0 29px;
  }
}

.promo-header__logo img {
  width: 100px;
  height: 20px;

  @media (min-width: $tablet-width) {
    width: 110px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 130px;
    height: 26px;
  }
}

.promo-header__phone {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: $white;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
  }

  &:hover {
    color: rgba(28, 51, 116, 0.5);
  }

  &:focus {
    color: #1c3374;
    outline: none;
  }

  &:active {
    color: $text-primary;
    text-decoration: underline;
  }
}

.promo-header__phone.disabled {
  opacity: 0.5;
  pointer-events: none;

  &:active {
    text-decoration: none;
  }
}
