.promo {
  color: $white;
  background-image: linear-gradient(to right, #1c3477 0%, #1a3578 39%, #73184b 76%, #b4022a 100%);
  background-repeat: no-repeat;
}

.promo__container {
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 103px;
  }
}
