.promo-content {
  padding: 49px 0 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 30px;
    padding: 0 0 100px;
  }

  @media (min-width: $desktop-width) {
    gap: 56px;
    justify-content: end;
    padding: 30px 72px 120px;
  }
}

.promo-content__text {
  display: grid;
  grid-template-areas:
    ".      city"
    "list   title"
    "button button";
  grid-template-columns: minmax(113px, auto) minmax(156px, auto);
  row-gap: 14px;
  column-gap: 21px;

  @media (min-width: $tablet-width) {
    grid-template-areas:
      ".    city"
      "list title"
      ".    button";
    grid-template-rows: min-content min-content min-content;
    padding: 31px 0;
    column-gap: 26px;
    row-gap: 10px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 115px 270px;
    grid-template-rows: auto auto auto;
    padding: 52px 0;
    row-gap: 40px;
    column-gap: 0;
  }
}

.promo-content__city {
  justify-self: end;
  grid-area: city;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  font-family: "Alumni Sans", "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
  }
}

.promo-content__list {
  align-self: end;
  grid-area: list;
  line-height: 20px;
  text-align: end;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.promo-content__title {
  grid-area: title;
  margin: 0;
  font-weight: 800;
  font-size: 62px;
  line-height: 62px;
  font-family: "Alumni Sans", "Arial", sans-serif;
  text-align: end;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media (min-width: $tablet-width) {
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 4px;
  }
}

.promo-content__button {
  grid-area: button;
  margin-top: 33px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    align-self: end;
    margin-top: 40px;
    padding: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding: 25px;
  }

  &:hover {
    color: #103aae;
    background-color: $white;
  }

  &:focus {
    color: #103aae;
    background-color: rgba(255, 255, 255, 0.8);
    border-color: $black;
    outline: none;
  }

  &:active {
    color: $text-primary;
    background-color: $white;
    border-color: $white;
  }
}

.promo-content__button.disabled {
  color: $white;
  background-color: transparent;
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.promo-content__image {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    flex-shrink: 0;
    width: 324px;
    height: 390px;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
    height: 524px;
  }
}
