.team__container {
  @media (min-width: $tablet-width) {
    padding: 30px 45px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 103px;
  }
}

.team__title {
  margin: 0 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 46px;
    font-size: 54px;
    line-height: 54px;
  }
}

.team__swiper-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.team__button-wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 720px;
    transform: translate(0, -50%);
  }

  @media (min-width: $desktop-width) {
    top: 49%;
    width: 1320px;
  }
}
